@use 'variables';

.banner {
	position: relative;
	background-color: black;
	height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 4em;
	color: white;
	.bannerImage {
		position: absolute;
		right: 10%;
		height: 100%;
	}
	.subtitle {
		margin: 0;
	}
	.info-button {
		padding: 1em 2em;
		background-color: variables.$green;
		width: 7em;
		text-align: center;
		color: white;
	}
	.info-button:hover {
		opacity: 0.9;
	}
}
